.list {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 10%;
    background-color: #26262c;
    overflow: auto;
    margin-top: 20px;
    margin-right: 20px;
    padding: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    border-bottom-left-radius: .5rem;
  }

  .close {
    color: var(--tertiary)
  }

  .stream-cart {
    font-weight: 600;
    color: #9147ff;
  }

  span {
    color: #fff;
  }

  .close-button:hover {
    border: none;
    background: red;
    color: #fff;
    padding: 4px;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease; 
  }
  
  .list h2 {
    font-size: 1.5rem;
    border-bottom: 1px solid #9147ff;
    text-decoration: none;
    padding-bottom: .5rem;
    margin: 1rem 0;
  }
  
  .list.close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    color: var(--tertiary);
  }

  .username {
    text-transform: uppercase;
  }
  
  .username:hover {
    color: black;
    background:#9147ff;
    border-radius: 3px;
    transition: all 500ms ease; 
  }
  
  .list-closed {
    position: fixed;
    top: 2%;
    right: 1%;
    font-size: 2rem;
    cursor: pointer;
    background-color: var(--secondary);
    border-radius: 50%;
    padding: .55rem;
    width: 60px;
    height: 60px;
  }
  
  .list-closed:hover {
    transform: rotate(8deg);
  }
  
  .list img {
    width: 70px;
    margin-right: 1rem;
  }
  
  .list input {
    width: 50px;
    padding: 0;
    margin: 0 .5rem 1rem 0;
  }
  
  @media screen and (max-width: 768px) {
    .list {
      position: relative;
      max-width: 100%;
      max-height: auto;
      box-shadow: none;
      background-color: inherit;
    }
  
    .list-closed {
      position: relative;
      margin: 0 auto;
    }
  }